@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-green: #3DAC78;
    --primary-bg: #121314;
    --secondary-bg: #222324;
}

* {
    color: var(--primary-green);
    font-family: Poppins, serif;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    background-color: var(--primary-bg);
    grid-template-columns: auto auto auto;
    overflow-x: hidden;
}

aside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: thin solid var(--primary-green);
    border-radius: 0.5em;
    background-color: var(--secondary-bg);
    padding: 1em;
    width: 15em;
    margin: 0;
    vertical-align: baseline;
}

h1 {
    text-align: center;
}

.btn {
    background-color: var(--primary-green);
    color: white;
    border: thin solid var(--primary-green);
    border-radius: 0.5em;
    padding: 0.2em;
}

.btn:hover {
    cursor: pointer;
    border: thin solid white;
}

.vault > summary {
    background-color: var(--primary-green);
    color: white;
    font-weight: bold;
    padding: 0.3em;
    border-radius: 0.5em;
    width: auto;
    text-align: center;
    align-items: center;
}

summary:hover {
    cursor: pointer;
}

.user > summary {
    justify-content: center;
    width: 80%;
}

details > summary::-webkit-details-marker {
    display: none;
}

.user > summary {
    list-style: none;
}

.user {
    margin: 1em 0;
}

.vault.public {
    margin-bottom: 1em;
}

.empty-vault {
    text-align: center;
}

.user {
    border-radius: 0.4em;
    display: block;
    padding: 0.2em;
    background-color: var(--primary-bg);
}

.user img {
    width: 1.5em;
    border-radius: 0.5em;
    border: thin solid var(--primar-green);
}

.file:hover {
    font-weight: bold;
    cursor: pointer;
}

.folder, .file {
    margin-left: 1em;
}

.folder.nested > .folder-name {
    margin-left: -1em;
    &::before {
        content: '📁';
    }
}

#actions {
    margin: auto;
    margin-top: 1em;
    width: 50%;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    display: none;
}

#toolbar button, #toolbar input {
    float: right;
    margin-bottom: 0.3em;
    margin-left: 0.3em;
}

#toolbar {
    padding-left: 1em;
    vertical-align: baseline;
    margin-bottom: 0.4em;
}

.editor {
    white-space: pre-wrap;
    width: 100%;
    resize: none;
    background-color: var(--secondary-bg);
    color: white;
    padding: 0.3em;
    border-radius: 0.5em;
    border: thin solid var(--primary-green);
}

.active-file {
    font-weight: bold;
}

#uploader #contents {
    border: thin solid var(--primary-green);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    align-items: center;
}

#uploader #toolbar {
    margin-right: 1em;
}

#uploader #contents > div > * {
    display: block;
    margin: 0.5em;
}

select, option, input {
    background-color: var(--secondary-bg);
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
}

#notification {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5em;
    padding: 0.5em;
    border-radius: 0.4em;
    background-color: #3C4142;
}

textarea {
    outline: none;
}

a.pebble:hover {
    font-weight: bold;
    cursor: pointer;
}

#new-file #toolbar {
    input {
        float: none;
    }
    select {
        padding: 0;
        margin-right: 0;
        display: inline;
        background-color: var(--primary-bg);
        appearance: none;
        text-align: right;
    }
    input {
        margin-left: 0;
        width: 40%;
        padding: 0;
        background-color: var(--primary-bg);
        display: inline;
    }
    input:focus {
        outline: none;
    }
}
