@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-green: #3DAC78;
    --primary-bg: #121314;
    --secondary-bg: #222324;
}

* {
    color: var(--primary-green);
    font-family: Poppins, serif;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    background-color: var(--primary-bg);
    grid-template-columns: auto auto auto;
}

.vault {
    border: thin solid var(--primary-green);
    border-radius: 0.5em;
    background-color: var(--secondary-bg);
    padding: 1em;
    width: 15em;
    height: 40vh;
}

.vault legend {
    background-color: var(--primary-green);
    color: white;
    font-weight: bold;
    padding: 0.3em;
    border-radius: 0.5em;
    width: 50%;
    text-align: center;
}

.user {
    border-radius: 0.4em;
    display: block;
    padding: 0.2em;
    background-color: var(--primary-bg);
}

.user img {
    width: 1.2em;
    border-radius: 0.5em;
    border: thin solid var(--primar-green);
}

.file:hover {
    font-weight: bold;
    cursor: pointer;
}

.folder, .file {
    margin-left: 1em;
}

.folder.nested > .folder-name::before {
    content: '/';
}

#viewer {
    display: none;
    border: thin solid var(--primary-green);
    margin: 2em;
    padding: 1.5em;
}
