<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>butler. - Midnight</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='svg.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='midnight.css') }}">
    </head>
    <body>
        <div id="tabs">
            <button onclick="setContext('total')" class="tab btn">Total</button>
            <button onclick="setContext('project', Object.keys(context.data.time)[0])"class="tab btn">Project</button>
        </div>
        <span class="content" id="total">
            <svg viewBox="-152 -152 330 304" id="svgs" width="300" height="330"
                                                                   xmlns="http://www.w3.org/2000/svg">
            </svg>
            <ol id="entries">
            </ol>
        </span>
        <span class="content" id="project">
            <select id="project-view-select">
            </select>
            <table id="heatmap">
            </table>
            <ol id="time">
            </ol>
        </span>
    </body>
    <script>
        const context = {
            tab: 'total',
            project: '',
            views: ['total', 'project'],
            data: [],
        }
    </script>
    <script src="{{ url_for('static', filename='svg.js') }}"></script>
    <script src="{{ url_for('static', filename='midnight.js') }}"></script>
</html>
