<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>butler. - Midnight</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='svg.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='midnight.css') }}">
    </head>
    <body>
        <a id="home" class="btn" href='/'>🏠</a>
        <div id="tabs">
            <button onclick="setContext('total')" class="tab btn">Total</button>
            <button onclick="setContext('project')" class="tab btn">Project</button>
        </div>
        <span class="content" id="total">
            <div id="projects">
                Projects:
                <svg viewBox="-152 -152 330 304" id="projects-svg" width="300"
                                                                   height="320"
                                                                   xmlns="http://www.w3.org/2000/svg">
                </svg>
                <ol id="entries" class="project">
                </ol>
            </div>
            <hr>
            <div id="editors">
                Editors:
                <svg viewBox="-152 -152 330 304" id="editor-svg" width="300"
                                                                 height="320"
                                                                 xmlns="http://www.w3.org/2000/svg">
                </svg>
                <ol id="entries" class="editor">
                </ol>
            </div>
        </span>
        <span class="content" id="project">
            <select id="project-view-select">
            </select>
            <ol id="time">
            </ol>
        </span>
        <table id="heatmap">
        </table>
    </body>
    <script>
        const context = {
            tab: 'total',
            project: '',
            views: ['total', 'project'],
            data: [],
        }
    </script>
    <script src="{{ url_for('static', filename='svg.js') }}"></script>
    <script src="{{ url_for('static', filename='midnight.js') }}"></script>
</html>
