            <details class="vault public" open>
                <summary>Public</summary>
                {% if public|length %}
                {% for entry in public %}
                <details class="user">
                    <summary>
                        <img src="{{url_for('static', filename='user.png')}}">
                        <span>{{ entry.username }}</span>
                    </summary>
                    {% for content in entry.content %}
                    <div class="folder {% if content[0]|nested %} nested nested-{{content[0]|nested}} {% endif %}">
                        <div class="folder-name">
                            {{ content[0]|trailing }}
                            {% if "README.pb" in content[1] %}
                            <a class="pebble path-user-{{entry.username}}{{content[0]}}">[doc]</a>
                            {% endif%}
                        </div>
                        <div class="files">
                            {% for file in content[1] %}
                            <li class="file path-user-{{entry.username}}{{content[0]}}">{{ file }}</li>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </details>
                {% endfor %}
                {% else %}
                <div class="empty-vault">
                    No files.
                </div>
                {% endif %}
            </details>
