<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>butler. - Vault</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='vault.css') }}" />
    </head>
    <body>
        <aside>
            <h1>Vaults</h1>
            <details class="vault public" open>
                <summary>Public</summary>
                {% if public|length %}
                {% for entry in public %}
                <details class="user">
                    <summary>
                        <img src="{{url_for('static', filename='user.png')}}">
                        <span>{{ entry.username }}</span>
                    </summary>
                    {% for content in entry.content %}
                    <div class="folder {% if content[0]|nested %} nested nested-{{content[0]|nested}} {% endif %}">
                        <div class="folder-name">
                            {{ content[0]|trailing }}
                            {% if "README.pb" in content[1] %}
                            <a class="pebble path-user-{{entry.username}}{{content[0]}}">[doc]</a>
                            {% endif%}
                        </div>
                        <div class="files">
                            {% for file in content[1] %}
                            <li class="file path-user-{{entry.username}}{{content[0]}}">{{ file }}</li>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </details>
                {% endfor %}
                {% else %}
                <div class="empty-vault">
                    No files.
                </div>
                {% endif %}
            </details>
            <details class="vault private" open>
                <summary>Private</summary>
                {% if private.content|length %}
                <details class="user">
                    <summary>
                        <img src="{{url_for('static', filename='user.png')}}">
                        <span>{{private.username }}</span>
                    </summary>
                    {% for content in private.content %}
                    <div class="folder {% if content[0]|nested %} nested nested-{{content[0]|nested}} {% endif %}">
                        <div class="folder-name">
                            {{ content[0]|trailing }}
                            {% if "README.pb" in content[1] %}
                            <a class="pebble private path-user-{{private.username}}{{content[0]}}">[doc]</a>
                            {% endif%}
                        </div>
                        <div class="files">
                            {% for file in content[1] %}
                            <li class="file private path-user-{{private.username}}{{content[0]}}">{{ file }}</li>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </details>
                {% else %}
                <div class="empty-vault">
                    No files.
                </div>
                {% endif %}
            </details>
            <div id="actions">
                <button id="upload" class="btn">Upload</button>
            </div>
        </aside>
        <main>
            <div id="viewer">
                <div id="toolbar">
                    <span class="opened-file"></span>
                    <button id="view-close" class="btn close close-target-viewer">Close</button>
                    <button id="edit-content" class="btn">Edit</button>
                    <button id="edit-cancel" class="btn close close-target-edit-view">Cancel</button>
                    <button id="save-editing" class="btn">Save</button>
                    <button id="delete-file" class="btn">Delete</button>
                </div>
                <textarea readonly rows="20" id="viewer-contents"></textarea>
            </div>
            <form id="uploader" method="POST" enctype="multipart/form-data"
                                              action="upload">
                <div id="toolbar">
                    <span>File uploader</span>
                    <button type="button" class="btn close close-target-uploader">Close</button>
                    <input type="submit" value="Upload" class="btn">
                </div>
                <div id="contents">
                    <div>
                        <label for="upload-path">Upload to:</label>
                        <select required name="path" id="upload-path"></select>
                        <input name="folder" value="" id="new-folder" placeholder="New Folder" title="When specified uploaded files are put into this directory">
                        <input required multiple type="file" name="files" id="files" value="Select files">
                    </div>
                    <pre id="selected-files"></pre>
                </div>
            </form>
            <div hidden id="notification"></div>
            <div id="pebble-viewer">
                <div id="toolbar">
                    <span>README.pb</span>
                    <button type="button" class="btn close close-target-uploader">Close</button>
                </div>
                <div id="pebble-contents"></div>
            </div>
        </main>
    </body>
    <script>
        const context = {
            path: '',
            scope: '',
            view: 'browse',
        }
        const elements = [
            'viewer',
            'uploader',
            'save-editing',
            'edit-content',
            'edit-cancel',
            'view-close',
            'delete-file',
            'pebble-viewer',
        ]
        const views = {
            browse: [],
            view: [
                'viewer',
                'view-close',
            ],
            edit: [
                'viewer',
                'save-editing',
                'edit-cancel',
            ],
            upload: [
                'uploader',
            ],
            pebble: [
                'pebble-viewer',
            ],
        }
    </script>
    <script src="{{ url_for('static', filename='vault.js') }}"></script>
    <script src="{{ url_for('static', filename='pebble.js') }}"></script>
</html>
