<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>butler. - Vault</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='vault.css') }}" />
    </head>
    <body>
        <aside>
            <fieldset class="vault public">
                <legend>Public</legend>
                {% if public|length %}
                {% for entry in public %}
                <div class="user">
                    <img src="{{url_for('static', filename='user.png')}}">{{
                    entry.username }}
                </div>
                {% for content in entry.content %}
                <div class="folder {% if content[0]|nested %} nested nested-{{content[0]|nested}} {% endif%}">
                    <div class="folder-name">
                        {{ content[0]|trailing }}
                    </div>
                    <div class="files">
                        {% for file in content[1] %}
                        <li class="file path-user-{{entry.username}}{{content[0]}}">{{ file }}</li>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
                {% else %}
                No files.
                {% endif %}
            </fieldset>
            <fieldset class="vault private">
                <legend>Private</legend>
                {% if private.content|length %}
                <div class="user">
                    <img src="{{url_for('static', filename='user.png')}}">{{
                    private.username }}
                </div>
                {% for content in private.content %}
                <div class="folder nested-{{ content[0]|nested }}">
                    /{{ content[0]|trailing }}
                    <div class="files">
                        {% for file in content[1] %}
                        <div class="file">
                            {{ file }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                No files.
                {% endif %}
            </fieldset>
        </aside>
        <main>
            <span id="viewer">
            </span>
        </main>
    </body>
    <script src="{{ url_for('static', filename='vault.js') }}"></script>
</html>
